h1 {
    color: blue;
    border: 1rem double aqua;
}
h1#page1 {
    color:lightskyblue;
    border: 0.3rem double blue;
}
img {
    width: 2orem;
}
ul {
    list-style-type: square;
}

h1.page2 {
    color:lightskyblue;
    border: 1rem double yellow;
    border-radius: 0.3rem
}
ol{
    list-style-type: upper-roman;
}
section img {
    float: left

}
body ul li{
    color:indigogit
}

p{
    text-decoration: underline rgb(80, 80, 80) double 0.1rem;
    text-indent: 1rem;
}

p.maiusculo {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1rem;
    line-height:  2rem;
    word-spacing: 2rem;
    color: purple;
    font: italic small-caps bold 2rem monospace;
    text-shadow: 0.2rem 0.2rem 0.3rem black, 0 0 1rem darkorchid, 0 0 2rem darkorchid;
}
a:link, a:visited, a:active {
    text-decoration:  none;
    color: purple;
}
a:hover{
    color:purple;
}
footer{
    clear:both;
    background: #d9d9d9 url("../img/wallpaper.jpeg") no-repeat left bottom;
    height: 1rem;
}
main.grid {
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 2 rem
}

main.flexbox {
    display: flex;
    height: 100vh;
    justify-items: center;
}
main.flexbox article{
    background-color: lightgreen;
    margin: 1rem;
    padding: 2rem;
}
